@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-family-sans: 'Edu SA Beginner', sans-serif;
}

body {
	font-family: var(--font-family-sans);
	font-size: 25px;
}
